@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
header{
  position: absolute;
  width: 100%;
  height: 280px;
}
h2{
  text-align: center;
}
header img:first-child{
  float: left;
  width: 230px;
  height: 90px;
}
#container{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin: 0px auto;
  position: relative;
  top: 100px;
}
#container img{
  width: 100%;
  height: 500px;
  left: 0px;
  position: absolute;
}
#container .btn{
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  border: none;
  border-radius: 50%;
  top: 250px;
  left: 0px;
}
#container #btn1:hover{
  box-shadow: 7px 0px 20px 0px bisque;
}
#container #btn2:hover{
  box-shadow: -7px 0px 20px 0px bisque;
}
#container #btn2{
  position: relative;
  float: right;
}
footer img:first-child,footer img:nth-child(2),footer img:nth-child(3){
  position: relative;
  width: 50px;
  height: 50px;
  top: 700px;
}

section article img{
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}
section.animadas article img{
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}



section.inicio img:nth-child(3){
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}
section.inicio img:nth-child(4){
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}
section.inicio img:nth-child(5){
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}
section.inicio img:nth-child(6){
  position: relative;
  width: 210px;
  height: 280px;
  top: 170px;
  display:inline-block;
}



section.uno img:first-child{
  position: relative;
  width: 410px;
  height: 380px;
  top: -115px;
  display:inline-block;
}


nav ul li{
  display: inline-block;
}
nav ul{
  margin: 0;
  padding: 10px;
}
a{
  text-decoration: none;
  color: black;
  padding: 30px 20px 10px 30px;
  font-size: 18px;
  display: block;
  font-family: 'Rammetto One', cursive;
}
a:hover{
  background-color: rgba(255, 0, 0, 0.5);
}
header{
  width: 100%;
  height: 110px;
  background-color: rgba(255, 192, 203, 0.63);
  text-align: center;
}