@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
header{
  position: absolute;
  width: 100%;
  height: 280px;
}
h2{
  text-align: center;
}
header img:first-child{
  float: left;
  width: 230px;
  height: 90px;
}
#container{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin: 0px auto;
  position: relative;
  top: 100px;
}
#container img{
  width: 100%;
  height: 500px;
  left: 0px;
  position: absolute;
}
#container .btn{
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  border: none;
  border-radius: 50%;
  top: 250px;
  left: 0px;
}
#container #btn1:hover{
  box-shadow: 7px 0px 20px 0px bisque;
}
#container #btn2:hover{
  box-shadow: -7px 0px 20px 0px bisque;
}
#container #btn2{
  position: relative;
  float: right;
}
footer img:first-child,footer img:nth-child(2),footer img:nth-child(3){
  position: relative;
  width: 50px;
  height: 50px;
  top: 1200px;
}
h1{
  text-align: center;
  height: 50px;
  font-size: 20px;
  margin-top:60px;
}
.uno{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 10px;
}
.dos{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 23px;
}
.tres{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  left: 37px;
}
.cuatro{
  position: absolute;
  width: 321px;
  height: 390px;
  top:662px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  left: 1014px;
  float: left;
}
.cinco{
  position: relative;
  width: 321px;
  height: 390px;
  top:21px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 11px;
}
.seis{
  position: relative;
  width: 321px;
  height: 390px;
  top:15px;
  left: 24px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}

.uno img, .dos img, .tres img, .cuatro img, .cinco img, .seis img{
  width: 321px;
  height: 390px;
}
.uno div, .dos div, .tres div, .cuatro div, .cinco div, .seis div{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(114, 198, 224, 0.835);
  width: 321px;
  height: 390px;
  transform: scale(0);
  transition-duration: .5s;
  overflow: hidden;
}
.uno:hover div, .dos:hover div, .tres:hover div, .cuatro:hover div, .cinco:hover div, .seis:hover div{
  transform: scale(1);
  transition-duration: .5s;
}
.uno div h4, .dos div h4, .tres div h4, .cuatro div h4, .cinco div h4, .seis div h4{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  margin-top: 40px;
  font-size: 20px;
  transform: translateY(-210px);
  transition-duration: 0.6s;
  transition-delay: .6s;
  overflow: hidden;
}
.uno:hover div h4, .dos:hover div h4, .tres:hover div h4, .cuatro:hover div h4, .cinco:hover div h4, .seis:hover div h4{
  transform: translateY(0);
}
.uno div p, .dos div p,.tres div p,.cuatro div p,.cinco div p,.seis div p{
  text-align: justify;
  margin: 0px;
  padding: 15px 50px;
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
  transform: translateY(270px);
  transition-duration: .6s;
  transition-delay: .8s;
}
.uno:hover div p, .dos:hover div p, .tres:hover div p, .cuatro:hover div p, .cinco:hover div p, .seis:hover div p{
  transform: translateY(0);
}
.uno div a,.dos div a,.tres div a,.cuatro div a,.cinco div a,.seis div a{
  text-decoration: none;
  margin: 80px;
  margin-top: 10px;
  background-color: rgb(89, 140, 199);
  font-size: 18px;
  text-align: center;
  transform: translateY(300px);
  transition-duration: .6s;
  transition-delay: .8s;
}
.uno:hover div a,.dos:hover div a,.tres:hover div a,.cuatro:hover div a,.cinco:hover div a,.seis:hover div a{
  transform: translateY(0);
}
.animadas .uno img, .animadas .dos img, .animadas .tres img, .animadas .cuatro img{
  width: 300px;
  height: 390px;
}
.animadas .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.animadas .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.animadas .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.animadas .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
.terror .uno img, .terror .dos img, .terror .tres img, .terror .cuatro img{
  width: 300px;
  height: 390px;
}
.terror .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.terror .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.terror .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.terror .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
.cienciaficcion .uno img, .cienciaficcion .dos img, .cienciaficcion .tres img, .cienciaficcion .cuatro img{
  width: 300px;
  height: 390px;
}
.cienciaficcion .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.cienciaficcion .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.cienciaficcion .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.cienciaficcion .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
.romance .uno img, .romance .dos img, .romance .tres img, .romance .cuatro img{
  width: 300px;
  height: 390px;
}
.romance .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.romance .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.romance .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.romance .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
.accion .uno img, .accion .dos img, .accion .tres img, .accion .cuatro img{
  width: 300px;
  height: 390px;
}
.accion .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.accion .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.accion .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.accion .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
.comedia .uno img, .comedia .dos img, .comedia .tres img, .comedia .cuatro img{
  width: 300px;
  height: 390px;
}
.comedia .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.comedia .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.comedia .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.comedia .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:80px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}
nav ul li{
  display: inline-block;
}
nav ul{
  margin: 0;
  padding: 10px;
}
a{
  text-decoration: none;
  color: black;
  padding: 30px 20px 10px 30px;
  font-size: 18px;
  display: block;
  font-family: 'Rammetto One', cursive;
}
a:hover{
  background-color: rgba(255, 0, 0, 0.5);
}
header{
  width: 100%;
  height: 110px;
  background-color: rgba(255, 192, 203, 0.63);
  text-align: center;
}