@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;

}
body {
 font-family: 'Raleway', sans-serif;
}
header{
  position: absolute;
  width: 100%;
  height: 280px;
}
h2{
  text-align: center;
}
header img:first-child{
  float: left;
  width: 230px;
  height: 90px;
}
.slider{
  width: 100%;
  height: 650px;
  margin: auto;
  overflow: hidden; 

}
.slider ul{
  display: flex;
  padding: 0%;
  width: 400%;
  animation: cambio 20s infinite alternate;
  animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
.slider ul li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 1350px;
  height: 650px;
  object-fit: initial;
}
@keyframes cambio{
  0% {margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
h1{
  color: white;
  z-index: 30;
  top: 270px;
  position: absolute;
}

h2{
  text-align: center;
  height: 50px;
  font-size: 20px;
  margin-top:60px;
}
.uno{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 10px;
}
.dos{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 23px;
}
.tres{
  position: relative;
  width: 321px;
  height: 390px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  left: 37px;
}
.cuatro{
  position: absolute;
  width: 321px;
  height: 390px;
  top:760px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  left: 1014px;
  float: left;
}
.cinco{
  position: relative;
  width: 321px;
  height: 390px;
  top:15px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 11px;
}
.seis{
  position: relative;
  width: 321px;
  height: 390px;
  top:15px;
  left: 24px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
}
.siete{
  position: relative;
  width: 321px;
  height: 390px;
  top:15px;
  left: 37px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
}
.ocho{
  position: relative;
  width: 321px;
  height: 390px;
  top:15px;
  left: 52px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
}

.uno img, .dos img, .tres img, .cuatro img, .cinco img, .seis img, .siete img, .ocho img{
  width: 321px;
  height: 390px;
}
.uno div, .dos div, .tres div, .cuatro div, .cinco div, .seis div, .siete div, .ocho div{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(114, 198, 224, 0.835);
  width: 321px;
  height: 390px;
  transform: scale(0);
  transition-duration: .4s;
  overflow: hidden;
}
.uno:hover div, .dos:hover div, .tres:hover div, .cuatro:hover div, .cinco:hover div, .seis:hover div, .siete:hover div, .ocho:hover div{
  transform: scale(1);
  transition-duration: .5s;
}
.uno div h4, .dos div h4, .tres div h4, .cuatro div h4, .cinco div h4, .seis div h4, .siete div h4, .ocho div h4{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  margin-top: 40px;
  font-size: 20px;
  transform: translateY(-210px);
  transition-duration: 0.3s;
  transition-delay: .3s;
  overflow: hidden;
}
.uno:hover div h4, .dos:hover div h4, .tres:hover div h4, .cuatro:hover div h4, .cinco:hover div h4, .seis:hover div h4, .siete:hover div h4, .ocho:hover div h4{
  transform: translateY(0);
}
.uno div p, .dos div p,.tres div p,.cuatro div p,.cinco div p,.seis div p,.siete div p,.ocho div p{
  text-align: justify;
  margin: 0px;
  padding: 15px 50px;
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  transform: translateY(270px);
  transition-duration: .3s;
  transition-delay: .3s;
}
.uno:hover div p, .dos:hover div p, .tres:hover div p, .cuatro:hover div p, .cinco:hover div p, .seis:hover div p, .siete:hover div p, .ocho:hover div p{
  transform: translateY(0);
}
.uno div a,.dos div a,.tres div a,.cuatro div a,.cinco div a,.seis div a,.siete div a,.ocho div a{
  text-decoration: none;
  margin: 94px;
  margin-top: 10px;
  background-color: rgb(89, 140, 199);
  font-size: 18px;
  text-align: center;
  transform: translateY(300px);
  transition-duration: .3s;
  transition-delay: .3s;
}
.uno:hover div a,.dos:hover div a,.tres:hover div a,.cuatro:hover div a,.cinco:hover div a,.seis:hover div a,.siete:hover div a,.ocho:hover div a{
  transform: translateY(0);
}
.general .uno img, .general .dos img, .general .tres img, .general .cuatro img{
  width: 300px;
  height: 390px;
}
.general .uno{
  position: relative;
  width: 300px;
  height: 390px;
  top:60px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 18px;
}

.general .dos{
  position: relative;
  width: 300px;
  height: 390px;
  top:60px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left:55px;
}
.general .tres{
  position: relative;
  width: 300px;
  height: 390px;
  top:60px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 93px;
}
.general .cuatro{
  position: relative;
  width: 300px;
  height: 390px;
  top:60px;
  background-color: rgba(128, 121, 103, 0);
  overflow: hidden;
  float: left;
  left: 132px;
}

.general1 img:first-child{
  position: absolute;
  width: 1349px;
  height: 688px;
  opacity: .5;
  top: 671px;
  left: 0px;
}
.general1 img:nth-child(2){
  position: relative;
  width: 300px;
  height: 390px;
  top:861px;
  left: 20px;
}
.general1 h1{
 color: black;
 top: 861px;
 left: 650px;
}
.general1 p{
  position: absolute;
  top: 925px;
  left: 650px;
  right: 247px;
  color: black;
  text-align: justify;
}
.general2 img:first-child{
  position: absolute;
  width: 1349px;
  height: 688px;
  opacity: .5;
  top: 869px;
  left: 0px;
}
.general2 img:nth-child(2){
  position: relative;
  width: 300px;
  height: 390px;
  top:998px;
  left: 20px;
}
.general2 h1{
 color: black;
 top: 995px;
 left: 650px;
}
.general2 p{
  position: absolute;
  top: 1054px;
  left: 650px;
  right: 247px;
  color: black;
  text-align: justify;
}
.general3 img:first-child{
  position: absolute;
  width: 1349px;
  height: 688px;
  opacity: .5;
  top: 672px;
  left: 0px;
}
.general3 img:nth-child(2){
  position: relative;
  width: 300px;
  height: 390px;
  top:816px;
  left: 20px;
}
.general3 h1{
 color: black;
 top: 815px;
 left: 650px;
}
.general3 p{
  position: absolute;
  top: 883px;
  left: 650px;
  right: 247px;
  color: black;
  text-align: justify;
}
.general4 img:first-child{
  position: absolute;
  width: 1226px;
  height: 688px;
  opacity: .5;
  top: 801px;
  left: 0px;
}
.general4 img:nth-child(2){
  position: relative;
  width: 300px;
  height: 390px;
  top:925px;
  left: 20px;
}
.general4 h1{
 color: black;
 top: 924px;
 left: 650px;
}
.general4 p{
  position: absolute;
  top: 991px;
  left: 650px;
  right: 247px;
  color: black;
  text-align: justify;
}
.general5 img:first-child{
  position: absolute;
  width: 1349px;
  height: 688px;
  opacity: .5;
  top: 1189px;
  left: 0px;
}
.general5 img:nth-child(2){
  position: relative;
  width: 300px;
  height: 390px;
  top:1315px;
  left: 20px;
}
.general5 h1{
 color: black;
 top: 1315px;
 left: 650px;
}
.general5 p{
  position: absolute;
  top: 1375px;
  left: 650px;
  right: 247px;
  color: black;
  text-align: justify;
}
.video-general1{
  display: block;
  width: 100%;
  height: auto;
  top: -284px;
  position: relative;
}
.video-general1  video{
  width: 100%;
  height: auto;
  background: white;
  background-size: cover;
  text-align: center;
}
nav ul li{
  display: inline-block;
}
nav ul{
  margin: 0;
  padding: 10px;
}
a{
  text-decoration: none;
  color: white;
  padding: 19px 24px 11px 28px;
  font-size: 18px;
  display: block;
  font-family: 'Raleway', sans-serif;
}

header{
  width: 100%;
  height: 110px;
  background-color: rgb(30, 30, 116);
  text-align: center;
}
.borde{
  border-bottom: solid 0.4px red;
}
footer{
  width: 100%;
  height: 110px;
  background-color: rgb(30, 30, 116);
  margin-top:110px;
  overflow: hidden;
}
footer p{
  display: inline-block;
  width: 100%;
  height: 70px;
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
  border-top: 1px solid black;
  color: white;
}
footer img{
  position: relative;
  left: 580px;
  top: -55px;
  overflow: hidden;
}
footer h3{
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width: auto;
  margin: 0px -211px 27px 227px;
  overflow: hidden;
  color: white;
  margin-top: 10px;
}
 .genero  {
  margin: 590px 0px 0px 0px;
}
.genero p{
  margin-top: 0px;
}
.peliculas{
  margin: 400px 0px 0px 0px;
}
.peliculas1{
  margin: 390px 0px 0px 0px;
}
.peliculas p{
  position: absolute;
  margin-top: 0px;
}
.peliculas img{
  margin-top: 85px;
}
.video-general{
  display: block;
  width: 100%;
  height: auto;
  top: -284px;
  position: relative;
}
.video-general  video{
  width: 100%;
  height: auto;
  background: white;
  background-size: cover;
  text-align: center;
}
